<div class="wizard-card" style="display: block;">
    <div class="wizard-input-section">
        <p>Survey</p>
        <div class="form-group">
            <div class="col-sm-8">
                <select class="form-control" ng-model="editingCondition.config.surveyId" required convert-to-number>
                    <option value="">--</option>
                    <option ng-repeat="survey in surveys" value="{{survey.id}}">{{survey.name}}</option>
                </select>
            </div>
        </div>

        <p>Date</p>
        <div class="form-group">
            <div class="col-sm-1">
                <checkbox ng-model="editingCondition.config.checkDate" class="mt-xs"></checkbox>
            </div>
            <div ng-show="editingCondition.config.checkDate">
                <div class="col-sm-2">
                    <p class="form-control-static">
                        in last
                    </p>
                </div>
                <div class="col-sm-3">
                    <input type="number" ng-model="editingCondition.config.timeValue" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="editingCondition.config.timeUnit" class="form-control">
                        <option value="">--</option>
                        <option value="MINUTES">Minutes</option>
                        <option value="HOURS">Hours</option>
                        <option value="DAYS">Days</option>
                        <option value="MONTHS">Months</option>
                    </select>
                </div>
            </div>
        </div>

        <p>Negation</p>
        <div class="form-group">
            <div class="col-sm-1">
                <checkbox ng-model="editingCondition.config.negation" class="mt-xs"></checkbox>
            </div>
        </div>

    </div>
</div>