adly-config-server:
  image: adly/adly-config-server
  environment:
   - JVM_OPTS=-Xmx64M -Xms64M
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  ports:
   - "8888:8888"
#adly-hystrix-dashboard:
#  image: adly/adly-hystrix-dashboard
#  environment:
#   - JVM_OPTS=-Xmx64M -Xms64M
#   - SPRING_PROFILES_ACTIVE=docker
#   - DOCKER_IP=$DOCKER_IP
#  ports:
#   - 8010:8010
postgres:
  image: postgres:latest
  ports:
   - 5432:5432
  environment:
   - POSTGRES_PASSWORD=adly
   - POSTGRES_USER=adly
   - POSTGRES_DB=adly
rabbit:
  image: rabbitmq:latest
  ports:
  - 5672:5672
cassandra:
  image: spotify/cassandra
  ports:
  - 9042:9042
adly-auth-service:
  image: adly/adly-auth
  ports:
  - 9191:9191
  links:
  - postgres
  - adly-eureka-service
  - adly-config-server
  environment:
  - JVM_OPTS=-Xmx128M -Xms128M
  - SPRING_PROFILES_ACTIVE=docker
  - DOCKER_IP=$DOCKER_IP
adly-eureka-service:
  image: adly/adly-eureka-service
  ports:
   - 8761:8761
  links:
    - adly-config-server
  environment:
   - JVM_OPTS=-Xmx128M -Xms128M
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
adly-beacon-service:
  image: adly/adly-beacon-service
  ports:
  - 8100:8100
  links:
  - postgres
  - rabbit
  - adly-eureka-service
  - adly-config-server
  environment:
  - JVM_OPTS=-Xmx64M -Xms64M
  - SPRING_PROFILES_ACTIVE=docker
  - DOCKER_IP=$DOCKER_IP
adly-edge-service:
  image: adly/adly-edge
  ports:
   - "9999:9999"
  environment:
   - JVM_OPTS=-Xmx128M -Xms128M
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
adly-device-service:
  image: adly/adly-device-service
  ports:
  - 8300:8300
  links:
  - rabbit
  - adly-eureka-service
  - adly-config-server
  environment:
  - JVM_OPTS=-Xmx128M -Xms128M
  - SPRING_PROFILES_ACTIVE=docker
  - DOCKER_IP=$DOCKER_IP
adly-notification-sender-service:
  image: adly/adly-notification-sender-service
  ports:
  - 8200:8200
  links:
  - adly-eureka-service
  - adly-config-server
  environment:
  - JVM_OPTS=-Xmx128M -Xms128M
  - SPRING_PROFILES_ACTIVE=docker
  - DOCKER_IP=$DOCKER_IP
adly-profile-service:
  image: adly/adly-profile-service
  ports:
  - 8000:8000
  links:
  - postgres
  - adly-eureka-service
  - adly-config-server
  environment:
  - JVM_OPTS=-Xmx128M -Xms128M
  - SPRING_PROFILES_ACTIVE=docker
  - DOCKER_IP=$DOCKER_IP
adly-rule-service:
  image: adly/adly-rule-service
  ports:
  - 8500:8500
  links:
  - rabbit
  - postgres
  - adly-eureka-service
  - adly-config-server
  environment:
  - JVM_OPTS=-Xmx128M -Xms128M
  - SPRING_PROFILES_ACTIVE=docker
  - DOCKER_IP=$DOCKER_IP
adly-ui:
  image: adly/adly-ui
  ports:
  - 8080:8080
  links:
  - adly-eureka-service
  - adly-config-server
  environment:
  - JVM_OPTS=-Xmx128M -Xms128M
  - SPRING_PROFILES_ACTIVE=docker
  - DOCKER_IP=$DOCKER_IP
adly-zipkin-service:
  image: adly/adly-zipkin-service
  environment:
   - JVM_OPTS=-Xmx64M -Xms64M
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  ports:
   - 9411:9411
