adly-config-server:
  image: adly/adly-config-server
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  ports:
   - 8888:8888
#adly-hystrix-dashboard:
#  image: adly/adly-hystrix-dashboard
#  environment:
#   - SPRING_PROFILES_ACTIVE=docker
#   - DOCKER_IP=$DOCKER_IP
#  ports:
#   - 8010:8010
postgres:
  image: postgres:latest
  ports:
   - 5432:5432
  environment:
   - POSTGRES_PASSWORD=adly
   - POSTGRES_USER=adly
rabbit:
 image: rabbitmq:latest
 ports:
  - 5672:5672
cassandra:
 image: spotify/cassandra
 ports:
  - 9042:9042
adly-auth-service:
  image: adly/adly-auth
  ports:
   - 9191:9191
  links:
   - postgres
   - adly-eureka-service
   - adly-config-server
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
adly-eureka-service:
  image: adly/adly-eureka-service
  ports:
   - 8761:8761
  links:
    - adly-config-server
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
adly-beacon-service:
 image: adly/adly-beacon-service
 ports:
  - 8100:8100
 links:
  - postgres
  - cassandra
  - rabbit
  - adly-eureka-service
  - adly-config-server
 environment:
  - SPRING_PROFILES_ACTIVE=docker
  - DOCKER_IP=$DOCKER_IP
 mem_limit: 128000000
adly-edge-service:
  image: adly/adly-edge
  ports:
   - 9999:9999
  links:
   - adly-eureka-service
   - adly-config-server
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
#account-service:
#  image: adly/account-service
#  links:
#   - user-service
#   - discovery-service
#   - config-service
#   - mysql
#  environment:
#   - SPRING_PROFILES_ACTIVE=docker
#   - DOCKER_IP=$DOCKER_IP
#inventory-service:
#  image: adly/inventory-service
#  links:
#   - neo4j
#   - discovery-service
#   - config-service
#  environment:
#   - SPRING_PROFILES_ACTIVE=docker
#   - DOCKER_IP=$DOCKER_IP
#order-service:
#  image: adly/order-service
#  links:
#   - mongo
#   - discovery-service
#   - config-service
#   - user-service
#  environment:
#   - SPRING_PROFILES_ACTIVE=docker
#   - DOCKER_IP=$DOCKER_IP
#catalog-service:
#  image: adly/catalog-service
#  links:
#   - redis
#   - mysql
#   - discovery-service
#   - config-service
#  environment:
#   - SPRING_PROFILES_ACTIVE=docker
#   - DOCKER_IP=$DOCKER_IP
#shopping-cart-service:
#  image: adly/shopping-cart-service
#  links:
#   - mysql
#   - discovery-service
#   - config-service
#   - user-service
#  environment:
#   - SPRING_PROFILES_ACTIVE=docker
#   - DOCKER_IP=$DOCKER_IP
#online-store-web:
#  image: adly/online-store-web
#  ports:
#   - 8787:8787
#  links:
#   - discovery-service
#   - config-service
#   - user-service
#   - edge-service
#  environment:
#   - SPRING_PROFILES_ACTIVE=docker
#   - DOCKER_IP=$DOCKER_IP