.adly-icon {
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;

  &:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
  }
}

.adly-pointer {
  cursor:pointer;
}

.wizard-nav-item .already-visited .active,
.wizard-nav-list li.active>a {
    background-color: #f2be35 !important; /*todo: remove !important */
}

