<table class="table table-striped">
    <tbody>
    <tr ng-repeat="event in data.events">
        <td class="text-center" width="30">
            <i class="fa {{getEvent(event.type).icon}}"></i>
        </td>
        <td>
            {{event.type}}
        </td>
        <td class="text-right">
            <i class="fa fa-pencil mr-sm adly-pointer" ui-sref=".event.type({eventType:event.type, index: $index})"></i>
            <i class="fa fa-trash adly-pointer" ng-click="removeEvent(event, $index)"></i>
        </td>
    </tr>
    </tbody>
</table>