<div class="modal fade wizard in" style="display: block;">
    <div class="modal-dialog wizard-dialog" style="width: 700px; margin-top: 78px; padding-top: 0px;">
        <div class="modal-content wizard-content" style="height: 498px;">
            <div class="modal-header wizard-header">
                <h3 class="modal-title wizard-title">Events</h3>
                <span class="wizard-subtitle"></span>
            </div>
            <div class="modal-body wizard-body" style="height: 430px;">
                <div class="pull-left wizard-steps" style="height: 430px;">
                    <div class="wizard-nav-container">
                        <ul class="nav wizard-nav-list">

                            <li class="wizard-nav-item ng-class:{'active':selected.event==key}" ng-repeat="(key, value) in events" ui-sref=".type({eventType:key})">
                                <a class="wizard-nav-link adly-pointer">
                                    <span class="glyphicon glyphicon-chevron-right"></span> {{key}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <form class="form-horizontal" data-ui-jq="parsley"
                      data-parsley-priority-enabled="false"
                      novalidate="novalidate" ng-submit="save()" validate-form >
                    <div class="wizard-cards" style="height: 430px;">
                        <div class="wizard-card-container" style="height: 356px;">
                            <div ui-view></div>
                        </div>
                        <div class="wizard-footer">
                            <div class="wizard-buttons-container">
                                <div class="btn-group-single pull-right">
                                    <button class="btn wizard-next btn-default" type="button" ng-click="back()">Cancel</button>
                                    <button class="btn wizard-next btn-success" type="submit">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
