<section class="widget">
    <header>
        <h5><strong>Rule</strong> form</h5>
    </header>
    <div class="widget-body">
        <form class="form-horizontal ng-pristine ng-valid" role="form"  data-ui-jq="parsley"
              data-parsley-priority-enabled="false"
              novalidate="novalidate" ng-submit="upsertRule()" validate-form>
            <fieldset>
                <div class="form-group">
                    <label for="name-field" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-6">
                        <input type="text" id="name-field" class="form-control" required ng-model="rule.name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="active-field" class="col-sm-3 control-label">Active</label>
                    <div class="col-sm-6">
                        <checkbox ng-model="rule.active" class="mt-xs" id="active-field"></checkbox>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="no-border">Event <i class="fa fa-plus pull-right adly-pointer" ng-show="rule.events.length==0" ui-sref=".event"></i></legend>

                <adly-rule-events data="rule" ></adly-rule-events>


            </fieldset>
            <fieldset>
                <legend class="no-border">Conditions <i class="fa fa-plus pull-right adly-pointer" ui-sref=".condition"></i></legend>
                <adly-rule-conditions data="rule" ></adly-rule-conditions>

            </fieldset>
            <fieldset>
                <legend class="no-border">Action <i class="fa fa-plus pull-right adly-pointer" ng-show="rule.actions.length==0" ui-sref=".action"></i></legend>
                <adly-rule-actions data="rule" ></adly-rule-actions>

            </fieldset>
            <div class="btn-toolbar">
                <button type="submit" class="btn btn-sm btn-success pull-right">Save</button>
                <button type="button" class="btn btn-sm btn-default pull-right" ui-sref="^">Cancel</button>
            </div>
        </form>
        <div ui-view></div>
    </div>
</section>

