<div class="wizard-card" style="display: block;">
    <div class="wizard-input-section">

        <p>Notification sent in last</p>
        <div class="form-group">
            <div class="col-sm-3">
                <input type="number" ng-model="editingCondition.config.timeValue" class="form-control" required/>
            </div>
            <div class="col-sm-3">
                <select class="form-control" ng-model="editingCondition.config.timeUnit" required >
                    <option value="">---</option>
                    <option value="DAYS">Days</option>
                    <option value="MONTHS">Months</option>
                </select>
            </div>

        </div>

    </div>
</div>