<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <title>Adly.io auth</title>
    <meta name="author" content="Kamil Chlebek" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" th:href="@{/css/vendor.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>

    <th:block layout:fragment="scripts" />

</head>
<body class="login-page">

    <div layout:fragment="content"></div>

</body>
</html>
