<div class="wizard-card" style="display: block;">
    <div class="wizard-input-section">
        <p>Beacon</p>
        <div class="form-group">
            <div class="col-sm-8">
                <select class="form-control" ng-model="editingEvent.config.beaconId" required convert-to-number>
                    <option value="">-- select beacon --</option>
                    <option ng-repeat="beacon in beacons" value="{{beacon.id}}">{{beacon.name}}</option>
                    <option value="1">test!</option>
                    <option value="2">test!222</option>
                </select>
            </div>
        </div>
    </div>
</div>